<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Krub|PT+Sans+Narrow|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul class="title_ul">
      <li>
        <a href="/pizza-orders">Pizza Orders</a>
      </li>
      <li>
        <a href="/pizza-orders/new">Create New Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
